.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.mt-24 {
  margin-top: 24px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.web-none {
  display: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.slick-prev {
  left: auto !important;
  right: 68px;
  width: 24px !important;
  height: 24px !important;
  z-index: 99;
  top: 220px !important;
}

.slick-next {
  right: 20px !important;
  width: 24px !important;
  height: 24px !important;
  z-index: 99;
  top: 220px !important;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-dots button {
  width: 12px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, 0.38) !important;
  border-radius: 50%;
}

.slick-dots button::before {
  display: none;
}

.slick-active button {
  background: #117CAD !important;
}

.slick-dots {
  top: 207px !important;
  left: 20px !important;
  max-width: 120px;
}

.leftPanel {
  max-width: 876px;
  width: 100%;
  float: left;
}

.manshet_slider .slick-dots {
  top: auto !important;
  position: absolute;
  bottom: 24px;
  left: 32px !important;
}

.manshet_slider .slick-next,
.manshet_slider .slick-prev {
  top: auto !important;
  position: absolute;
  bottom: 12px;
}

.head_text {
  color: #117CAD;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.block {
  padding: 40px 0;
  border-bottom: 1px solid #15161A;
}

.block:last-child {
  border: none;
}

.live_editor {
  max-width: 297px;
  margin-right: 48px;
}

.category {
  width: 100%;
  max-width: 531px;
}

.first_category .global_news_card:first-child {
  margin: 24px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left;
}
.first_category .global_news_card:first-child .global_card_img{
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}
.first_category .global_news_card:first-child .global_card_text {
  position: absolute;
  z-index: 2;
  bottom: 16px;
  padding: 0 16px;
  width: 100%;
}
.first_category .global_news_card:first-child .global_card_date::before{
  background: #fff;
}
.first_category .global_news_card:first-child .global_card_date{
  color: #fff;
}
.first_category .global_news_card:first-child .global_card_title{
  color: #fff;
  font-size: 24px;
}
.head_text {
  color: #117CAD;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.category_block_head {
  color: #727782;
}
.first_category .global_news_card:not(:first-child){
  margin: 12px 0;
}