.live_head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
    border-bottom: 1px solid #E9EBF0;
}

.live_head_cart_part {
    display: flex;
    align-items: center;
}

.live_head_cart_part>img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
}

.live_body {
    margin-bottom: 12px;
}

.lhead {
    color: #BD1A27;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.lbody {
    color: #727782;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.live_img {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
    margin-bottom: 12px;
}

.live_img::before,
.media_news_img::before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    padding-top: 57%;
}

.live_img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.live_news_head {
    overflow: hidden;
    color: #15161A;
    text-overflow: ellipsis;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.15px;
    width: 100%;
}